{{#each Sleep as |Sleep| }}


<h2>
<a href="/sleep/{{Sleep.id}}">{{Sleep...}}</a>
</h2>

<p>
<span class="">
sleep duration:{{Sleep.sleep_Duration}}
wakeup count:{{Sleep.wakeup_Count}}
heart rate:{{Sleep.heart_Rate}}
snoring:{{Sleep.snoring}}
time sleeping:{{Sleep.time_Sleeping}}
</span>
</p>
{{/each}}