<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Set up your sleep tracking information</h3>

   <form class="form new-sleep-form">
  <div class="form-group">
    <label for="project-name">Sleep Entry Name:</label>
    <input class="form-input" type="text" id="project-name" name="project-name" />
  </div>
  
  <div class="form-group">
    <label for="sleep-duration">Sleep Duration (in minutes):</label>
    <input class="form-input" type="number" id="sleep-duration" name="sleep-duration" />
  </div>
  
  <div class="form-group">
    <label for="wakeup-count">Wakeup Count:</label>
    <input class="form-input" type="number" id="wakeup-count" name="wakeup-count" />
  </div>

  <div class="form-group">
    <label for="heart-rate">Heart Rate:</label>
    <input class="form-input" type="number" id="heart-rate" name="heart-rate" />
  </div>

  <div class="form-group">
    <label for="heartrate-variability">Heart Rate Variability:</label>
    <input class="form-input" type="number" id="heartrate-variability" name="heartrate-variability" />
  </div>

  <div class="form-group">
    <label for="respiration">Respiration:</label>
    <input class="form-input" type="number" id="respiration" name="respiration" />
  </div>

  <div class="form-group">
    <label for="snoring">Snoring:</label>
    <input class="form-input" type="checkbox" id="snoring" name="snoring" />
  </div>

  <div class="form-group">
    <label for="time-sleeping">Time Sleeping (in minutes):</label>
    <input class="form-input" type="number" id="time-sleeping" name="time-sleeping" />
  </div>

  <div class="form-group">
    <label for="sleep-interruptions">Sleep Interruptions:</label>
    <input class="form-input" type="number" id="sleep-interruptions" name="sleep-interruptions" />
  </div>

  <div class="form-group">
    <label for="body-temperature">Body Temperature:</label>
    <input class="form-input" type="number" step="0.01" id="body-temperature" name="body-temperature" />
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Create Sleep Entry</button>
  </div>
</form>

<div class="col-md-6 mt-4">
    <h3>Your Sleep Data Chart</h3>
    <canvas id="sleepChart" width="400" height="200"></canvas>
</div>

  {{#if sleep.length}}
  <div class="col-md-6">
    {{#each Sleep as |Sleep| }}
      <h2>
        <a href="/sleep/{{Sleep.id}}">{{Sleep.name}}</a>
      </h2>
      <p>
        <span class="sleep-list">
          sleep duration:{{Sleep.sleep_Duration}}
          wakeup count:{{Sleep.wakeup_Count}}
          heart rate:{{Sleep.heart_Rate}}
          snoring:{{Sleep.snoring}}
          time sleeping:{{Sleep.time_Sleeping}}
        </span>
      </p>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
